/* Castoro 英文雲端字體 */ 
.text-castoro {
    font-family: "Castoro", serif;
}

/* Roboto 英文雲端字體 */ 
.text-roboto {
    font-family: 'Roboto', sans-serif;
}

/* Bruno Ace SC 英文雲端字體 */ 
.text-bruno-ace-sc {
    font-family: 'Bruno Ace SC', sans-serif;
}

/* 思源黑體雲端字體 */
.text-noto-sans {
    font-family: 'Noto Sans', sans-serif;
}

.text-noto-sans-tc {
    font-family: 'Noto Sans TC', sans-serif;
}